function Fibonnaci 1
    push argument 0
    push constant 2
    lt

    if-goto end
    push argument 0
    push constant 2
    sub

    call fibonnaci.fibonnaci 1 
    push argument 0
    push constant 1
    sub
    call fibonnaci.fibonnaci 1 
    add

    return

label end
    push argument 0
    return 